*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

div {
	font-size: 2rem;
}

div#pageContainer {
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}

div#input {
	width: 600px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 2rem;
	padding-left: 4rem;
}

div#text-container {
	width: 600px;
	background-color: white;
	line-height: 2rem;
	padding: 4rem;
	line-height: 4rem;
}

form {
	display: flex;
	align-items: center;
}

input,
button {
	width: min-content;
	height: 2rem;
	padding: 0 0.5rem;
	margin: 0 0.5rem;
	font-size: 1.5rem;
}

.chunk {
	padding: 0 1ch;
	margin-right: 1ch;
}

.blue {
	color: #111;
}

.red {
	color: #777;
	border-color: #777;
}
